@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
html {
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
}

body {padding:0 ;}

* {
  margin: 0;
  padding: 0;
}

*:not(.Navbar *) {
  font-family: 'Poppins', sans-serif;
}

#App {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  --primary-color: #1266cc;
  --secondary-color: #f96400;
  --flash-color: rgb(89, 255, 0);
  --gray: #999;
  --light-gray: #e0e0e0;
  --dark-gray: #777;
}

.container {
  margin: 0 !important;
  padding: 0 !important;
  max-width: none !important;
}

.artificialContainer{
  margin: 5%;
}

.cardDesign {
  max-width: 100rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  background-color: white;
  border-radius: 8px;
  font-size: 2.3rem !important;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}