*{
    height: auto;
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	99% {
		opacity: 0.01;
		/* width: 100%; */
		/* height: 100%; */
	}
	100% {
		opacity: 0;
		/* width: 0;
		height: 0; */
	}
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	60% {
		opacity: 0.8;
	}
	99% {
		opacity: 0.01;
		/* width: 100%;
		height: 100%; */
	}
	100% {
		opacity: 0;
		/* width: 0;
		height: 0; */
	}
}
.Home{
    margin: auto;
	display: flex;
	flex-direction: column;
}

.editPoll{
    width: fit-content  ;
}

.fadeOut {
    z-index: 999;
    position: absolute;
    -webkit-animation: fadeOut 3.5s;
    animation: fadeOut 3.5s;
    animation-fill-mode: forwards;
    top: 9%;
	font-size: 50px !important	;
    /* right: 50%;
	left: 50%; */
	/* width: fit-content; */
    margin:  0 1% 2% 0;
	display: flex;
    width: 90%;
    justify-content: center;
}

.lg-toast{
	font-size: 2rem !important;
}

.toast-header{
	font-size: larger;
}

.toast-body{
	font-size: medium;
}

/* div {
    border: 1px solid black;
} */

button {
	display: inline-block;
	outline: 0;
	cursor: pointer;
	border: none;
	padding: 0 56px;
	height: 45px;
	line-height: 45px;
	border-radius: 7px !important;
	background-color: #0070f3;
	color: white;
	font-weight: 400;
	font-size: 16px;
	box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
	transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
	background: rgba(0, 118, 255, 0.9);
	box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
}

.mainflex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* align-content: center;
    justify-content: space-evenly;
    align-items: center; */
	 align-self: center;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.list-group.list-group-numbered{
	width: 100%;
	max-width: 100%;
	display: flex;
	justify-content: center;
	overflow: hidden;
	/* align-items: center; */
}

.customBtn{
	font-size: inherit !important;
	padding: 1% 2%;	
	color: white !important;
	background-color: dimgray !important;
	border: 1px solid black !important	;
	width: 125%;
}
.customBtn > *{
	margin: 0 .25%;
}

.curpo {
	cursor: pointer;
}