.shareBtn{
    background-color: grey;
    border-radius: 20px;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .2rem;
    padding-right: .2rem;
}

.shareBtn, .shareBtnIcon {
    color: rgba(230,230,230,1) !important;
}

.shareBtnIcon{
    font-size: 5rem;
    z-index: 999999;
    position: relative;
    padding: 1rem;
    cursor: pointer;
}

.shareBtn:hover {
    /* background-color: rgba(250,250,250, .2); */
  /* color: rgba(255,255,255,1) */
}