@import url('https://fonts.googleapis.com/css2?family=Lexend');
html,
body {
	height: 100%;
}

.Navbar {
	margin-bottom: 1%;
	color: white;
	font-size: 2rem;

	padding: 0.5% 2%;
	font-family: monospace;
	max-width: none !important;
}

.Navbar center {
	border-radius: 15px;
	padding: 1%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	/* flex-wrap: wrap; */
	/* flex-direction: ; */
}

.Navbar center div {
	display: flex;
	width: max-content;
	/* flex-wrap: wrap; */
	/* flex-direction: ; */
}

.app-logo {
	font-weight: bold;
	font-size: 3rem;
	cursor: pointer;
	letter-spacing: 1px;
}
.participatePoll {
	margin-bottom: 4% !important;
}

.value {
	font-family: sans-serif;
	color: white;
	font-size: x-large;
    font-family: 'Lexend', sans-serif;
}

.glow-on-hover {
	width: fit-content;
	height: 50px;
	border: none;
	outline: none;
	color: #fff;
	background: #111;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 25px;
}

button.glow-on-hover {
	border-radius: 25px !important;
	font-family: monospace;
	letter-spacing: 1px;
	display: flex;
	align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}
.glow-on-hover:before {
	content: "";
	background: linear-gradient(
		45deg,
		#ff0000,
		#ff7300,
		#fffb00,
		#48ff00,
		#00ffd5,
		#002bff,
		#7a00ff,
		#ff00c8,
		#ff0000
	);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing 20s linear infinite;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	border-radius: 25px;
	/* display: flex;
    justify-content: center; */
}

.glow-on-hover:active {
	color: #fff;
}

.glow-on-hover:active:after {
	background: #001;
}

.glow-on-hover:before {
	opacity: 1;
}

.glow-on-hover:after {
	z-index: -1;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #111;
	left: 0;
	top: 0;
	border-radius: 25px;
}

@keyframes glowing {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.artdot {
	height: 10px !important;
	width: 10px !important;
	border-radius: 25px;
	display: block;
}
